{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="623ED3D1E235F0508846DA4A2D09CF91" />
    <meta name="google-site-verification" content="iUsdtzEvBBMhDePr5h1D5cwdWDX2HMdd08po5rO2Cfo" />
    <meta name="description" content="Activate your UHC card online at activate.uhc.com. Follow our easy guide to verify your details, activate your UnitedHealthcare card, and start using your benefits.">
    <meta name="keywords" content="activate.uhc.com, UHC card activation, activate UnitedHealthcare card, UHC member login, UHC benefits activation">
    <meta name="robots" content="index, follow">
    <title>Activate Your UHC Card Online at activate.uhc.com – Quick Guide</title>
    {{ super() }}
{% endblock %}
