{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Activate your UHC card online at activate.uhc.com. Follow our easy guide to verify your details, activate your UnitedHealthcare card, and start using your benefits.">
    <meta name="keywords" content="activate.uhc.com, UHC card activation, activate UnitedHealthcare card, UHC member login, UHC benefits activation">
    <meta name="robots" content="index, follow">
    <title>Activate Your UHC Card Online at activate.uhc.com – Quick Guide</title>
    {{ super() }}
{% endblock %}
